#skills {
    height: 75vh;
    margin: 1% auto;
    padding: 3% auto;
}

.skills-left-col h5 {
    font-weight: 600;
}

.skills-right-col img {
    width: 100%;
}

.skill-card {
    border-bottom: 5px solid #4644a5 !important;
    margin: 9px auto;
}

.skill-card-body {
    padding: 8px 14px !important;
}

.skill-name .s-name {
    font-weight: 600;
    font-size: 14px;
    padding-left: 2%;
}

.skill-name .s-percent {
    font-weight: 600;
    font-size: 14px;
    float: right;
}

.skill-name .fab {
    color: #0E2431;
}

.skill-name .fab:hover {
    color: #0E2431;
}

.programming h3 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
    color: #4257ca;
}

.programming2 h3 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
    color: #4257ca;
}

.row h2 {
    text-align: center;
    color: #515cbb;
    margin-top: 30px;
    margin-bottom: 25px;
}

.row p {
    text-align: justify;
}